{% extends 'layouts/base.html.twig' %}

{% block title 'Change Password' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Change Password</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary w-100">Update Password</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}