@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary-font: 'Montserrat';

body {
  font-family: $primary-font, sans-serif;
}

.mb-3 {
  @extend .mt-3;
}

.vich-image img {
  @extend .mb-2, .rounded, .shadow, .img-thumbnail;
}

.pin img{
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.075);
  }
}