{% extends 'layouts/base.html.twig' %}

{% block body %}
        <h1 class="mb-5 text-center">Page not found</h1>
        <p class="mb-5 text-center">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('app_home') }}">return to the homepage</a>.
        </p>
{% endblock %}