{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1 class="mb-5 text-center">Access forbidden</h1>
    <p class="mb-5 text-center">
        You cannot access this page. Please go back to the <a href="{{ path('app_home') }}">homepage</a>.
    </p>
{% endblock %}